.brown-bg-color {
  background-color: $color-brown;
}

.brown-color {
  color: $color-brown;
}

.green-color-1 {
  color: $color-green-1;
}

.grey-color-1 {
  color: $color-grey-1;
}

.white-color {
  color: $color-white;
}

.red-color {
  color: $color-alert;
}

.yellow-color {
  color: $color-warn;
}