$text-colors: (
        "primary": $color-primary-main,
        "secondary": $color-primary-secondary,
        "grey": $color-primary-grey-main,
        "black": $color-black,
        "white": $color-white);


$btn-colors: (
        "primary": $color-primary-main,
        "secondary": $color-primary-secondary,
        "black": $color-black,
        "transparent": transparent
);

$btn-colors-rvt: (
        "primary": $color-primary-main,
        "secondary": $color-primary-secondary,
        "black": $color-black);
