.userNavbar {

  &__logo {
    width: 7rem;
    height: auto;

    margin-right: 1rem;
  }

  &__top {
    padding: 1rem 2rem;

    background-color: $color-white;

    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-rows: 2rem;
    column-gap: 6px;
    align-items: center;

    border-bottom: 1px solid $color-primary-grey-main;
  }

  &__bottom {
    padding: 4px 2rem;
    background-color: $color-white;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

    border-bottom: 1px solid $color-primary-grey-main;
  }

  &-account {
    grid-column: 5/6;
    width: 100%;
  }
}

.sellerNavbar {
  &__logo {
    width: 7rem;
    height: auto;

    margin-right: 1rem;
  }

  &__top {
    padding: 1rem 2rem;

    background-color: $color-white;

    display: grid;
    grid-template-columns: auto 10rem;
    grid-template-rows: 2rem;
    column-gap: 6px;
    align-items: center;

    border-bottom: 1px solid $color-primary-grey-main;
  }

  &-account {
    grid-column: 2/3;
    width: 100%;
  }
}