.userAuth {
  &-form {
    height: auto;
    width: 35rem;

    margin-top: 4rem;
    padding: 50px 35px;

    background-color: $color-white;

    border-radius: 10px;
    border: 1px solid $color-primary-grey-main;

    backdrop-filter: blur(10px);
  }

}
